
/*-------------loader-----------------------------------*/
.loader {
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 10000000;
    background: Black;
    height: 100%;
    width: 100%;
    margin: auto;
}

.strip-holder {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    margin-left: -50px;
    position: relative;
}

/*-------------end loader-----------------------------------*/

.card .crud {
    padding: 15px 15px 10px 15px;
}


