@using Shipper.RestGateway.Model
@using ZimconBackOffice.Models

@{
    ViewBag.Title = "Index";
    List<TruckCoordinates> model = Model;
}

<div class="row">
    <input type="hidden" id="savedMapData" value="@Json.Encode(model)" />
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Vehicle Trip</h4>
        </div>
        <div class="box-body">
            <div class="map">
                <div id="map" style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        var map;
        var markers = [];

        var vehicleCoordinates = document.getElementById('savedMapData').value;
        vehicleCoordinates = JSON.parse(vehicleCoordinates);      

        function drop() {
            clearMarkers();
            for (var i = 0; i < vehicleCoordinates.length; i++) {
                addMarkerWithTimeout(vehicleCoordinates[i], 5000);
            }
        }
        //TODO: try to simulate a moving vehicle to show areas moved..
        function addCar(plat, plng) {
            var icon = { // car icon
                path: 'M29.395,0H17.636c-3.117,0-5.643,3.467-5.643,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759   c3.116,0,5.644-2.527,5.644-5.644V6.584C35.037,3.467,32.511,0,29.395,0z M34.05,14.188v11.665l-2.729,0.351v-4.806L34.05,14.188z    M32.618,10.773c-1.016,3.9-2.219,8.51-2.219,8.51H16.631l-2.222-8.51C14.41,10.773,23.293,7.755,32.618,10.773z M15.741,21.713   v4.492l-2.73-0.349V14.502L15.741,21.713z M13.011,37.938V27.579l2.73,0.343v8.196L13.011,37.938z M14.568,40.882l2.218-3.336   h13.771l2.219,3.336H14.568z M31.321,35.805v-7.872l2.729-0.355v10.048L31.321,35.805',
                scale: 0.4,
                fillColor: "#427af4", //<-- Car Color, you can change it
                fillOpacity: 1,
                strokeWeight: 1,
                anchor: new google.maps.Point(0, 5),
                rotation: 45 //<-- Car angle
            };

            var coordinates = { lat: plat, lng: plng };
            var marker = new google.maps.Marker({
                position: coordinates,
                icon: icon,
                map: map
            });

            markers[0] = marker; // add marker in the markers array...
            //document.getElementById("cars").innerHTML = cars_count;
        }

        function addMarkerWithTimeout(position, timeout) {
            window.setTimeout(function () {
                /*markers.push(new google.maps.Marker({
                    position: position,
                    map: map,
                    animation: google.maps.Animation.DROP
                }));*/

                addCar(position.lat, position.lng);
            }, timeout);
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        function initMap() {            
            var firstLat = vehicleCoordinates[0].lat;
            var firstLng = vehicleCoordinates[0].lng;

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: { lat: firstLat, lng: firstLng },
                mapTypeId: 'terrain'
            });

            var truckPath = new google.maps.Polyline({
                path: vehicleCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });            
            truckPath.setMap(map);            
            drop();
            window.FakeLoader.hideOverlay();
        };

        //google.maps.event.addDomListener(window, 'load', initMap);
        //run once done create map stuff...

    </script>

    <script type="text/javascript">       
        window.onload = initMap;
    </script>
